.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-darkslategray-300);
  width: 100vw;
  height: 100vh;
}

.image {
  width: 100%;
}

.students-header-wrapper {
  width: 98%;
  padding: var(--padding-mid); /* Use variable for padding */
  background-color: var(--color-darkslategray-100); 
  text-align: center;
}

.students-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white); /* Apply theme color */
}

.students-title {
  font-size: var(--font-size-xl); /* Use variable for font size */
  font-weight: bold;
  margin-bottom: 4px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc; /* You can change this if needed */
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
  background-color: var(--color-darkslategray-300); /* Apply theme color */
  color: var(--color-white); /* Text color */
}

.search-icon {
  cursor: pointer;
}

.students-list {
  margin-top: 20px;
}

.student-records {
  display: flex;
  flex-direction: column;
}

.student-row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ddd; /* You can change this if needed */
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.student-row:hover {
  background-color: #e6f7ff; /* Adjust hover effect if needed */
}

.student-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.student-roll,
.student-name,
.student-level {
  flex: 1;
  text-align: center;
  color: var(--color-white); /* Apply theme color */
}

.student-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: var(--color-darkslategray-300); /* Optional header background */
  color: var(--color-white); /* Optional text color */
  border-bottom: 2px solid #ddd; /* Optional border */
}
.a-title{
  padding: 10px;
  background-color: var(--color-darkslategray-300);
}

.student-header-item {
  flex: 1;
  text-align: center; /* Center-align text */
}


@media (max-width: 600px) {
  .students-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    width: 100%;
  }

  .student-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .student-details {
    justify-content: flex-start;
  }
}
