.image-item {
  height: 346px;
  width: 490px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.left {
  width: 100%;
  height: 944px;
  position: absolute;
  margin: 0 !important;
  right: 0px;
  bottom: -12px;
  left: 0px;
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.image-12-icon {
  height: 45.5px;
  width: 49px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.student-dashboard {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 2;
}
.student-dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11.4px 0px 0px;
}
.image-12-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-4xs);
  gap: var(--gap-3xs);
}
.person-icon {
  height: 42px;
  width: 36px;
  position: relative;
  object-fit: cover;
}
.profile {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 61px;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0px 0px;
}
.profile-info {
  flex: 1;
  border-radius: var(--br-mid);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.8px var(--padding-3xs) 6.7px;
  gap: var(--gap-3xs);
  cursor: pointer;
  z-index: 2;
}
.profile-info-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm);
}
.nas-icon {
  margin-top: -21px;
  height: 67px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.resource {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 84px;
}
.detail1 {
  align-self: stretch;
  height: 55.5px;
  border-radius: var(--br-mid);
  background-color: var(--color-mediumslateblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.2px var(--padding-3xs) 15.3px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
  z-index: 2;
}
.calendar-icon {
  height: 41px;
  width: 44px;
  position: relative;
  object-fit: cover;
}
.event {
  position: relative;
  display: inline-block;
  min-width: 52px;
}
.event-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.detail-content {
  align-self: stretch;
  border-radius: var(--br-mid);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.2px var(--padding-3xs) 7.3px;
  gap: var(--gap-3xs);
  z-index: 2;
}
.detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17.3px;
}
.detail-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm) 466.8px;
}
.gear-icon {
  height: 41px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.settings {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 77px;
}
.gear-logout {
  align-self: stretch;
  border-radius: var(--br-mid);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  z-index: 1;
}
.logout {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.gear-logout1 {
  align-self: stretch;
  border-radius: var(--br-mid);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  cursor: pointer;
  z-index: 1;
}
.gear {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.left-container {
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.7px var(--padding-sm) 43px;
  box-sizing: border-box;
  position: relative;
  gap: 17.4px;
}
.full-stack-rank {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.full-stack-rank-wrapper {
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-3xs);
  white-space: nowrap;
  font-size: var(--font-size-lg);
}
.progression-point {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.stage-point {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 71px;
}
.level-completion-point {
  position: relative;
}
.overall-point {
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.week-icon {
  height: 1px;
  width: 491px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: -2px;
  object-fit: contain;
  z-index: 1;
}
.progression-details {
  align-self: stretch;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-2xs);
  position: relative;
  gap: var(--gap-mini);
}
.c-details-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
}
.week {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17px;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-3xs) 0px 0px;
}
.a {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 22px;
}
.week-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.c-details-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-44xl) 0px var(--padding-43xl);
  box-sizing: border-box;
  max-width: 100%;
}
.c-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.div3 {
  position: relative;
  display: inline-block;
  min-width: 17px;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-lg) 0px 0px;
}
.week2 {
  position: relative;
  display: inline-block;
  min-width: 22px;
}
.week-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-2xs) 0px 0px;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-44xl) 0px var(--padding-45xl);
  box-sizing: border-box;
  max-width: 100%;
}
.line-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
}
.c-progression {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.c-progression-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-11xs) var(--padding-smi) 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-inner {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
}
.line-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs) 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.empty-skill-name {
  position: relative;
  display: inline-block;
  min-width: 17px;
}
.empty-skill-stage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
}
.empty-skill-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xs) 0px 0px;
}
.empty-skill-overall {
  position: relative;
  display: inline-block;
  min-width: 25px;
}
.empty-skill {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-45xl) var(--padding-4xs) var(--padding-44xl);
  box-sizing: border-box;
  max-width: 100%;
}
.line-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.empty-skill-empty-stage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-base) 0px 0px;
}
.empty-skill-empty-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-smi) 0px 0px;
}
.empty-skill-empty {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-46xl) var(--padding-5xs) var(--padding-44xl);
  box-sizing: border-box;
  max-width: 100%;
}
.completed-skill-empty-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm) 0px 0px;
}
.completed-skill-empty {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-46xl) 0px var(--padding-44xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.progression {
  margin-left: -21px;
  width: 493px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1px;
  max-width: 105%;
  flex-shrink: 0;
}
.more-details {
  position: relative;
  display: inline-block;
  min-width: 76px;
}
.more-details-wrapper {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-limegreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  white-space: nowrap;
  cursor: pointer;
}
.more-details-button-inner {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-8xl);
  box-sizing: border-box;
}
.more-details-button {
  margin-left: -21px;
  width: 491px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 105%;
  flex-shrink: 0;
  color: var(--color-limegreen-100);
}
.skill-progression {
  width: 488px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0px var(--padding-6xs) var(--padding-lg);
  box-sizing: border-box;
  gap: 18.5px;
  max-width: 100%;
}
.inner-stack {
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-3xs);
  white-space: nowrap;
}
.inner-stack-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-xs);
  font-size: var(--font-size-lg);
}
.name1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.level {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 31px;
}
.level-wrapper {
  width: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.status {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 41px;
}
.status-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-mid) 0px 0px;
}
.name-parent {
  width: 428px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 0px 0px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.end-icon {
  margin-right: -32px;
  width: 491px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  max-width: 107%;
  flex-shrink: 0;
  z-index: 1;
}
.c2 {
  width: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.day {
  position: relative;
  display: inline-block;
  min-width: 8px;
}
.c-completed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-mini) 0px 0px;
}
.completed {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.sun {
  width: 76px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-limegreen-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  color: var(--color-limegreen-100);
}
.c-parent {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inder);
}
.c-completed-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-47xl) 0px var(--padding-42xl);
  box-sizing: border-box;
  max-width: 100%;
}
.c4 {
  width: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.c-completed1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-base) 0px 0px;
}
.completed1 {
  position: absolute;
  top: 3px;
  left: 5px;
  display: inline-block;
  min-width: 66px;
}
.day2 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-limegreen-100);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  height: 100%;
  z-index: 1;
}
.day1 {
  height: 22px;
  width: 76px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-limegreen-100);
  box-sizing: border-box;
  color: var(--color-limegreen-100);
}
.c-completed2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
}
.java {
  position: relative;
  display: inline-block;
  min-width: 32px;
}
.java-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-9xs) 0px 0px;
}
.java-on-going {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-lg) 0px 0px;
}
.on-going {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.est-gmt {
  width: 67px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-tomato);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  white-space: nowrap;
  color: var(--color-tomato);
}
.java-details {
  width: 373px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.java-details-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-34xl);
  box-sizing: border-box;
  max-width: 100%;
}
.c-completed-details-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7.5px;
  max-width: 100%;
}
.d-s-a-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-3xs) 0px 0px;
}
.d-s-a-stage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-lgi) 0px 0px;
}
.d-s-a {
  position: relative;
  display: inline-block;
  min-width: 24px;
}
.d-s-a-overall {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
}
.d-s-a-skill {
  width: 474px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 51px;
  box-sizing: border-box;
  max-width: 100%;
}
.videocamera-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.s-q-l-skill {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs) 0px var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.sql {
  align-self: stretch;
  position: relative;
}
.s-q-l-name {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-2xs) 0px 0px;
  box-sizing: border-box;
}
.s-q-l-stage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-lgi) 0px 0px;
}
.s-q-l-overall {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
}
.s-q-l-skill-name {
  width: 472px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 49px;
  box-sizing: border-box;
  max-width: 100%;
}
.s-q-l-skill-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.end-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-10xs) 0px var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent2 {
  margin-right: -37px;
  width: 494px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  max-width: 113%;
  flex-shrink: 0;
}
.more-details-container {
  width: 86px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-limegreen-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  white-space: nowrap;
  cursor: pointer;
  color: var(--color-limegreen-100);
}
.skill-progression1 {
  width: 488px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-13xl) var(--padding-6xs)
    var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.skill-progress-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.placement-training-assessment {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.test-name {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.test-name-container {
  width: 142px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.training-name {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.mark {
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.training-mark {
  margin-left: -20px;
  width: 491px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-200);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-27xl) var(--padding-2xs)
    var(--padding-19xl);
  box-sizing: border-box;
  max-width: 109%;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.career-growth {
  position: relative;
  display: inline-block;
  min-width: 106px;
}
.training-item-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs);
}
.training-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  min-width: 140px;
}
.growth-training {
  position: relative;
  display: inline-block;
  min-width: 115px;
}
.midterm-test-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
}
.mid-term-test {
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.mock-interview1 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.mock-interview-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24.5px;
}
.mock-interview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.midterm-test-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-9xl);
}
.div11 {
  position: relative;
  display: inline-block;
  min-width: 16px;
}
.wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 29px;
}
.div14 {
  position: relative;
  display: inline-block;
  min-width: 18px;
}
.wrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-8xl);
}
.more-details-wrapper1 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-limegreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  white-space: nowrap;
  cursor: pointer;
  color: var(--color-limegreen-100);
}
.frame-parent4 {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.6px;
}
.midterm-test {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 135px;
}
.training-list-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.training-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-6xs) 0px var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.training-container {
  width: 487px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lg) var(--padding-4xs);
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-width: 488px;
  max-width: 100%;
}
.git-hub {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 64px;
}
.project {
  position: relative;
  display: inline-block;
  min-width: 43px;
}
.metrics {
  width: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.stack {
  position: relative;
  display: inline-block;
  min-width: 34px;
}
.project-details {
  align-self: stretch;
  height: 37px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-12xl) var(--padding-2xs)
    var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.dashboard-forntend2 {
  text-decoration: underline;
}
.empty-project-names {
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.project-stacks {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.github-project-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.github-project-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-lgi) var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.contextual-chatbot {
  color: inherit;
}
.event4 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 86px;
}
.event5 {
  position: relative;
  display: inline-block;
  min-width: 9px;
}
.event-container {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.django {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.django-wrapper {
  flex: 0.845;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
  min-width: 86px;
}
.event-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.github-project-list2 {
  width: 445px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.github-project-list3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs) var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.bit-frontend {
  position: relative;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  min-width: 76px;
}
.event7 {
  position: relative;
  display: inline-block;
  min-width: 15px;
}
.event-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-lgi) 0px 0px;
}
.htmlcssjs-wrapper {
  width: 101px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.event-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px 0px;
}
.github-project-list4 {
  width: 460px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-16xl) var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
}
.student-dashboard1 {
  position: relative;
  display: inline-block;
  min-width: 129px;
}
.project-type {
  width: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.project-technology {
  width: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.project-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.project-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-lgi) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.project-divider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.it-web-wrapper {
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
}
.event11 {
  position: relative;
  display: inline-block;
  min-width: 13px;
}
.event-wrapper3 {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.react {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.react-wrapper {
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.github-project-list6 {
  width: 477px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 52px var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.project-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-10xs) var(--padding-10xs) var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.event13 {
  width: 86px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-limegreen-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  white-space: nowrap;
  cursor: pointer;
}
.project-link-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-18xl);
  color: var(--color-limegreen-100);
}
.github-projects {
  margin-left: -19px;
  width: 494px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 110%;
  flex-shrink: 0;
  font-size: var(--font-size-smi);
}
.github {
  width: 488px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lg) var(--padding-6xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 488px;
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.training {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  gap: 45px;
  max-width: 100%;
}
.achivements {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 107px;
}
.achievement-list {
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-3xs);
  font-size: var(--font-size-lg);
}
.event-name {
  position: relative;
  display: inline-block;
  min-width: 73px;
}
.event-header {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.category {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.report-proof {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.submission-details {
  width: 267px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 135px;
}
.calendar-base {
  margin-left: -20px;
  width: 1029px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-200);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs) 82px var(--padding-2xs) var(--padding-19xl);
  box-sizing: border-box;
  max-width: 105%;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.crackthon-20 {
  position: relative;
  display: inline-block;
  min-width: 98px;
}
.bit-hack23 {
  position: relative;
  display: inline-block;
  min-width: 74px;
}
.smock-interview-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
  min-width: 116px;
}
.mock-interview4 {
  width: 105px;
  position: relative;
  display: inline-block;
}
.smock-interview-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.s3-mock-interview-31 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.smock-interview-two {
  width: 183px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs);
  box-sizing: border-box;
}
.smock-interview {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.hackathon-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  min-width: 216px;
  max-width: 100%;
}
.software {
  position: relative;
  display: inline-block;
  min-width: 69px;
}
.hardware {
  position: relative;
  display: inline-block;
  min-width: 70px;
}
.category1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-mid) 0px var(--padding-17xl);
}
.category2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-base) 0px var(--padding-17xl);
}
.categories {
  height: 172px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.hackathon-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  max-width: 100%;
  flex-shrink: 0;
}
.first-achievement {
  height: 97px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
  min-width: 275px;
  max-width: 100%;
}
.itstr-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.icon-button {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-limegreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
}
.regected {
  position: relative;
  display: inline-block;
  min-width: 63px;
}
.button {
  width: 73px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-tomato);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  color: var(--color-tomato);
}
.status1 {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-limegreen-100);
}
.itstr-details-parent {
  width: 397px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.achievement-rows {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-2xs);
  box-sizing: border-box;
  gap: 79px;
  max-width: 100%;
}
.achievements-content {
  width: 919px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.achievements {
  width: 1023px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lg) 0px;
  box-sizing: border-box;
  gap: var(--gap-sm-5);
  max-width: 100%;
}
.achievements-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.skill-progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.skill-progress-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.image2 {
  flex: 1;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.image-wrapper {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inder);
}
.image1 {
  height: 1024px;
  flex: 1;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.details {
  width: 100%;
  height: 932px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1275px) {
  .image2 {
    flex-wrap: wrap;
  }

  .image1 {
    height: auto;
    min-height: 1024;
  }

  .details {
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  .skill-progress-content {
    flex-wrap: wrap;
  }

  .training-container {
    flex: 1;
  }

  .github {
    flex: 1;
  }

  .training {
    flex-wrap: wrap;
  }

  .calendar-base {
    padding-right: 41px;
    box-sizing: border-box;
  }

  .achievement-rows {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 750px) {
  .progression-details {
    flex-wrap: wrap;
  }

  .c-details-inner {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }

  .frame-container {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }

  .empty-skill {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }

  .empty-skill-empty {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }

  .completed-skill-empty {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }

  .c-completed-details {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }

  .java-details-wrapper {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }

  .d-s-a-skill {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }

  .s-q-l-skill-name {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }

  .skill-progress-content {
    gap: var(--gap-5xl);
  }

  .training-mark {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }

  .training-container {
    min-width: 100%;
  }

  .github-project-list6 {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }

  .github {
    min-width: 100%;
  }

  .training {
    gap: var(--gap-3xl);
  }

  .achievement-rows {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .student-dashboard {
    font-size: var(--font-size-base);
  }

  .profile {
    font-size: var(--font-size-base);
  }

  .event {
    font-size: var(--font-size-base);
  }

  .settings {
    font-size: var(--font-size-base);
  }

  .logout {
    font-size: var(--font-size-base);
  }

  .week {
    width: 100%;
    height: 17px;
  }

  .week-parent {
    flex-wrap: wrap;
  }

  .empty-skill-name {
    width: 100%;
    height: 17px;
  }

  .name-parent {
    flex-wrap: wrap;
  }

  .c-parent {
    flex-wrap: wrap;
  }

  .java-details {
    flex-wrap: wrap;
  }

  .training-list-container {
    flex-wrap: wrap;
  }

  .project-details {
    height: auto;
  }

  .github-project-item {
    flex-wrap: wrap;
  }

  .django-wrapper {
    flex: 1;
  }

  .event-parent {
    flex-wrap: wrap;
  }

  .project-name {
    flex-wrap: wrap;
  }

  .submission-details {
    gap: 67px;
  }

  .smock-interview-container {
    flex-wrap: wrap;
    gap: var(--gap-5xl);
  }

  .hackathon-details {
    flex-wrap: wrap;
  }

  .first-achievement {
    height: auto;
  }

  .itstr-details-parent {
    flex-wrap: wrap;
  }

  .achievement-rows {
    gap: var(--gap-xl);
  }
}
