body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Section styles */
.section {
  background-color: #2a2a3d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 96%;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: var(--color-whitesmoke);
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  background-color: #3e3e5e;
  padding: 10px;
  font-size: 1rem;
}

tbody td {
  padding: 10px;
  background-color: #33334d;
}

tbody tr {
  border-bottom: 1px solid #444466;
}

/* Status styles */
.completed {
  color: #32cd32;
  font-weight: bold;
}

.ongoing {
  color: #ff6347;
  font-weight: bold;
}

.more-details {
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.more-details:hover {
  background-color: #1e90ff;
}

/* Make last single section take full width */
.section.full-width {
  grid-column: span 2;
}

/* Responsive design */
@media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr; /* Switch to one column layout */
  }

  .section.full-width {
    grid-column: span 1; /* Ensure full-width sections span one column */
  }

  h3 {
    font-size: 1.2rem; /* Adjust heading size for smaller screens */
  }

  .more-details {
    width: 100%; /* Make buttons full width on mobile */
  }
}
