.placement-summary {
  display: flex;
  flex-direction: row;
  background-color: var(--color-darkslategray-300);
  align-items: center;
  color: white;
}

.summary-title {
  text-align: center;
  font-size: 2rem;
  padding: .1rem;
  margin-bottom: 1rem;
}

.summary-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

/* Left section (Table) */
.table-section {
  flex: 3;
  max-width: 75%;
  background: var(--color-darkslategray-100);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  overflow-y: auto;
  height: 75vh;
}

.placement-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.placement-table th,
.placement-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.placement-table th {
  background-color: #007bff;
  color: white;
}

/* Right section (Chart) */
.chart-section-pie {
  flex: 1;
  text-align: center;
  background: var(--color-darkslategray-300);
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  height: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.chart-container-pie {
  max-width: 100%;
  margin: 0 auto;
}

.status.passed {
  color: #28a745;
  font-weight: bold;
}

.status.failed {
  color: #dc3545;
  font-weight: bold;
}

.status.pending {
  color: #f1c40f;
  font-weight: bold;
}
