.gear-icon1 {
  height: 41px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.settings1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inder);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 77px;
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.logout-buttons {
  cursor: pointer;
  border: none;
  padding: var(--padding-6xs-5) var(--padding-3xs);
  background-color: var(--color-darkslategray-100);
  align-self: stretch;
  border-radius: var(--br-mid);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.logout1 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.logout-buttons1 {
  align-self: stretch;
  border-radius: var(--br-mid);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) var(--padding-3xs);
  gap: var(--gap-3xs);
  cursor: pointer;
  z-index: 1;
}
.action-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.actions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xl) 0px var(--padding-sm);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inder);
}

@media screen and (max-width: 450px) {
  .settings1 {
    font-size: var(--font-size-base);
  }

  .logout1 {
    font-size: var(--font-size-base);
  }
}
