.horizontal-navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--color-darkslategray-300);
  position: sticky; 
  top: 0; 
  margin: 5px;
  padding: 5px;
  z-index: 1000; 
  border: 1px solid var(--color-white);
}

.nav-items-container {
  margin-left: 60px;
  flex-grow: 1;
  display: flex; /* Enable flex for items */
}

.logo {
  height: 50px;
  width: 50px;
}

.title-text {
  color: #ecf0f1;
  font-size: 18px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
}
.nav-items {
  display: flex;
  gap: 50px;
  text-decoration: none;
  justify-content: space-between; /* Distribute space */
  flex-grow: 1; /* Allow this to grow to push logout to the end */
}

.nav-item {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.nav-title {
  display: flex;
  gap: 10px;
  margin-left: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  background-color: #2c3e50; 
  border-radius: 5px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.label {
  display: inline; /* Show label by default */
}

.nav-item:last-child {
  margin-left: auto;
  margin-right: 30px; /* Ensures the last item is pushed to the end */
  background-color: #ff4d4d; /* Optional: highlight logout */
  color: white; /* Optional: text color */
}

.nav-item:last-child:hover {
  background-color: #ff1a1a; /* Optional: hover effect */
}

.active {
  color: #f39c12; /* Active item color */
  background-color: #2c3e50; 
  padding: 5px; /* Active item background */
  border-radius: 5px;
  border: 1px solid #34495e;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .nav-items-container {
    display: none; /* Hide nav items by default on small screens */
    flex-direction: column; /* Stack items vertically */
    position: absolute;
    top: 60px; /* Position below navbar */
    right: 0;
    width: 100%; /* Full width for mobile items */
    background-color: var(--color-darkslategray-300); /* Match navbar color */
  }

  .nav-items-container.open {
    display: flex; /* Show items when menu is open */
  }

  .menu-toggle {
    display: block; /* Show hamburger menu */
    cursor: pointer;
    margin-right:10px;
    margin-bottom: 2px;
    margin-left: auto; /* Align to the right */
  }

  .nav-item {
    justify-content: center; /* Center items in mobile view */
    padding: 15px; /* Increase padding for touch targets */
    width: 100%; /* Full width for mobile items */
  }

  .label {
    display: none; /* Hide labels in mobile view */
  }

  .icon {
    margin-right: 0; /* No margin for icons */
  }
}

.main-content {
  padding: 20px;
  margin-top: 60px; /* Ensures content is pushed below the navbar */
}
