.calendar-icon1 {
  height: 41px;
  width: 44px;
  position: relative;
  object-fit: cover;
}
.event14 {
  position: relative;
  display: inline-block;
  min-width: 52px;
}
.event-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.profile-types {
  align-self: stretch;
  border-radius: var(--br-mid);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inder);
}

@media screen and (max-width: 450px) {
  .event14 {
    font-size: var(--font-size-base);
  }
}
